.admin-panel__block-list {
  flex-grow: 1;
}

.admin-panel__block-button {
  margin-left: auto;
}

.section-header {
  background-color: #EAEFF2;
}

.authorization-page__header {
  text-align: center;
}

.authorization-page__header a,
.section-header__content a {
  transition: opacity 0.15s ease;
}

.authorization-page__header a:hover,
.section-header__content a:hover {
  text-decoration: none;
  opacity: 0.5;
}

.authorization-page__header-title,
.authorization-page__header-subtitle,
.section-header__content-title,
.section-header__content-subtitle {
  opacity: inherit;
}

.main-page .section-header {
  background-color: #ffffff;
}

.enter-or-reg {
  height: auto;
  min-height: 180px;
  padding: 25px 15px;
}

.block-upload .checkbox__btn:checked + .checkbox__label {
  background: #A01717;
}

.main-page {
  padding: 0;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.control-panel__list-img-badge {
  min-width: 20px;
  border-radius: 10px;
}

.card-post__img img {
  max-width: none;
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.icon-delete {
  display: block;
}

.block-upload__img {
  position: relative;
}

.block-upload__img .checkbox__item {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.block-upload__img .delete-button {
  max-width: 185px;
  text-align: center;
  line-height: 1.2;
}

.section-posts__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-posts__info > * + * {
  margin-left: 15px;
}

.primary-button--red {
  background-color: red;
}

a.badge {
  color: #fff;
}

a.badge:hover {
  text-decoration: none;
  color: rgba(255, 52, 61, 0.8);
}

.post-pagination__button--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.comment__data {
  flex-grow: 1;
}

.comment__to-post {
  margin-left: auto;
  font-family: Montserrat, sans-serif;
}

.comment__to-post a {
  padding-left: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  color: #7E9BBD;
}

.control-panel__title-wrapper {
  display: block;
  color: #fff;
  text-align: center;
  transition: opacity 0.15s ease;
}

a.control-panel__title-wrapper:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
}

.admin-page__single-message label {
  margin-bottom: 10px;
}

.admin-page__single-message .buttons {
  justify-content: space-between;
  margin-top: 50px;
}
